# Ocultar absolutamente todo en el repositorio
/*

# Excepto el archivo 
!.gitignore

# Permitir carpetas públicas
!/Clase 1
!/Clase 2
!/Clase 3
!/Clase 5

# Bloquear archivos temporales dentro de las carpetas pública
**/.ipynb_checkpoints/
*.csv
**/*.csv